<h2>New nepa_milestone</h2>

<% form_for(@nepa_milestone, :url => nepa_document_nepa_milestones_path) do |f| %>
	<%= f.error_messages %>

	<table id="map_table" cellpadding="3">
		<tr><td>Milestone Type</td><td><%= f.text_field :milestone_type %></td></tr>
		<tr><td>Actual Start Date</td><td><%= f.text_field :actual_start_date %></td></tr>
		<tr><td>Actual Completion Date</td><td><%= f.text_field :actual_completion_date %></td></tr>
		<tr><td>Extension</td><td><%= f.text_field :extension %></td></tr>
		<tr><td>FR Date</td><td><%= f.text_field :fr_date %></td></tr>
		<tr><td>FR Number</td><td><%= f.text_field :fr_number %></td></tr>
		<tr><td>Agency_Id</td><td><%= f.text_field :agency_id %></td></tr>
		<tr><td>URL</td><td><%= f.text_field :url %></td></tr>
		<tr><td>Accomplished</td><td><%= f.text_field :accomplished %></td></tr>
		<tr><td>Projected</td><td><%= f.text_field :projected %></td></tr>
		<tr><td>next_milestone_status_chart</td><td><%= f.text_field :next_milestone_status_chart %></td></tr>
		<tr><td>EstimatedStartDate</td><td><%= f.text_field :estimated_start_date %></td></tr>
		<tr><td>milestone_comments</td><td><%= f.text_field :milestone_comments %></td></tr>
		<tr><td>Created</td><td><%= f.text_field :created_initial %></td></tr>
		<tr><td>Weblink_Secondary</td><td><%= f.text_field :web_link_secondary %></td></tr>
		<tr><td>SA_Approved_Id</td><td><%= f.text_field :sa_approved_id %></td></tr>
		<tr><td>EPA_Rating_Id</td><td><%= f.text_field :epa_rating_id %></td></tr>
	</table>

	<p>
	<%= f.submit 'Create' %>
	</p>
<% end %>

<%= link_to 'Back', nepa_document_nepa_milestones_path %>
