<h2>metadata</h2>


<div class="column span-12">
    <p>
      <b>Title</b><br />
      <%= h @map.title %>
    </p>

    <p>
      <b>Description </b><br />
      <%= h @map.description %>
    </p>
    <p>
       <% if @map.tags.count > 0 -%>
      <span class="map_summary">Tags:</span>
      <span class="tags">
        <% @map.tags.each do | tag | -%>
          <%= link_to tag.name, { :controller=> :maps, :action => :tag, :id => tag.name } %>
        <% end %>
      </span>
      <br />
    <% end -%>
    </p>


<p>
<%= 
### ------------------------------------------------------------------------------------------------------------------------ ###
### BWE UPDATE - added span element
### ------------------------------------------------------------------------------------------------------------------------ ###
-%>
<span>Map Type: </span>	
<%= @map.map_type.to_s %>
</p>
  </div>



  <div class="column span-12 last">
  <p>
    <b>Source/ Bibliographic Ref URL</b><br />
    <%= @map.source_uri %>
  </p>
    <p>
      <b>Publisher</b><br />
      <%= @map.publisher %>
    </p>

    <p>
      <b>Author(s)</b><br />
      <%= @map.authors %>
    </p>

    <p>
      <b>Scale</b><br />
      <%= @map.scale %>
    </p>

    <p>
      <b>Published Date</b><br />
      <%= @map.published_date %>

    <p>
      <b>Reprint Date<br />
      <%= @map.reprint_date %>
    </p>
  </div>



<%= 
### ------------------------------------------------------------------------------------------------------------------------ ###
### BWE UPDATE - added new div for nepa data (type, link, document number, etc.)
### ------------------------------------------------------------------------------------------------------------------------ ###
-%>
<div class="column span-12">

	<p><span>NEPA</span></p>

	<p><span>Map Type:&nbsp;</span><%= @map.map_type_nepa.to_s %></p>

	<p><span>Link:&nbsp;</span><%= @map.map_link_nepa.to_s %></p>

	<% if @map.project_map? -%>
		<% if !@map.nepa_document.nil? -%>
			<p><span>nepa document number:&nbsp;</span> <%= @map.nepa_document.document_no %></p>

			<p><span>Milestone 1 (October 1, 2014):&nbsp;</span> demo 1</p>
			<p><span>Milestone 2 (November 1, 2014):&nbsp;</span> demo 2</p>
			<p><span>Milestone 3 (December 1, 2014):&nbsp;</span> demo 3</p>
			<p><span>Milestone 4 (December 23, 2014):&nbsp;</span> ship</p>
		<% end -%>
	<% end -%>
</div>
