<div id="nav">
  <a href="/">Home</a> |
  <%= link_to "Add Map", new_map_path %> |

<%= 
### ------------------------------------------------------------------------------------------------------------------------ ###
### BWE update - removed about tab
### ------------------------------------------------------------------------------------------------------------------------ ###
%> 
<!-- <a href="/about.htm">About</a> | -->

<%= 
### ------------------------------------------------------------------------------------------------------------------------ ###
### BWE update - removed initial and added new help link
### ------------------------------------------------------------------------------------------------------------------------ ###
%> 
<!--  <a href="/help.htm">Help</a> | -->
<%= link_to("Help", :controller => 'home', :action => 'help') %>


<%= 
### ------------------------------------------------------------------------------------------------------------------------ ###
### BWE update - removed NYPL icon and link
### ------------------------------------------------------------------------------------------------------------------------ ###
%> 
<!--
<%= 
#image_tag('nypl_lion_small.png')
%>
<a href="http://maps.nypl.org">Supported by the New York Public Library</a>
-->
</div>


