<div id="container">

<div id="left-col">
<div id="video-intro" class="paraMargin">
<a href="http://nepanode.anl.gov"><h5>Go Back to Main NEPAnode Site</h5></a> 
<h2>MapWarper Overview</h2>
<iframe width="320" height="300" src="//www.youtube.com/embed/5InFDAb5Bm0" frameborder="0" allowfullscreen></iframe>
<h4><a href="http://nepanode.anl.gov/uploaded/documents/NEPAnode_MapWarper_-_How_To.pdf" target="_blank">View MapWarper's How To Guide</a></h4>
 <p>Find maps and other imagery, upload, and rectify against a real map.</p>
 <p>You can then download and use the rectified map in your mapping applications.</p>
 <p>Just sign up and you can start uploading and get warping!</p>
  <%= link_to 'Find Rectified Maps by Location',  url_for(:controller => 'maps', :action=>'geosearch'), :class => "buttonWarper" %></ br>
  <%= link_to "Upload Map!", new_map_path , :class => "buttonWarper"-%>
 
</div>

<div class="paraMargin">
<h2>What is it?</h2>
<p>It's a free to use, open source map image warper / georeferencer. It allows you to convert static images into usable Geospatial Data. 
</p>
<p>Note: This site is part of the NEPAnode pilot project and is under continuous development</p>
</div>

<div id="tag-cloud" class="paraMargin">
  <h3>Tags</h3>
  <p class="tagCloudLink">
 <% tag_cloud @tags, %w(css1 css2 css3 css4) do |tag, css_class| %>
    <%= link_to tag.name, { :controller=>:maps, :action => :tag, :id => tag.name }, :class => css_class %>
  <% end %>
  </p>
</div>
</div>

<div id="right-col">
  <div id="search-form">
    <%= render :partial => 'shared/search' -%>
    <br/>
    <p class="browseButtonBlock">
    <%= link_to 'Browse All Maps', maps_path, :class => "buttonWarper" %> OR <%= link_to 'Find Rectified Maps by Location',  url_for(:controller => 'maps', :action=>'geosearch'), :class => "buttonWarper" %> OR
    <br/>   
    <div id="tag-cloud" class="paraMargin">
     <h3>  Search by Keyword</h3>
     <p class="tagCloudLink">
    <% tag_cloud @tags, %w(css1 css2 css3 css4) do |tag, css_class| %>
       <%= link_to tag.name, { :controller=>:maps, :action => :tag, :id => tag.name }, :class => css_class %>
     <% end %>
   </div>
  </div>

<div id="map_list">
  

  <% if @my_maps -%>
    <h3>My Maps</h3>
    <table id="map_table" cellpadding="3">
    <thead>
        <tr>
          <th>Map</th>
          <th>Title</th>
          <th>Last modified</th>
          <th>Status</th>
        </tr>
      </thead>
        <%= render :partial => 'maps/map', :collection => @my_maps  unless @my_maps.nil? %>
    </table>
    <%= link_to "See all of My Maps", my_maps_path(:user_id => current_user) -%>
  <%end -%>

  <br/>

  <h3>Last Rectified Maps</h3>

  <table id="map_table" cellpadding="3">
      <thead>
        <tr>
          <th>Map</th>
          <th>Title</th>
          <th>Last modified</th>
          <th>Status</th>
        </tr>
      </thead>
    <%= render :partial => 'maps/map', :collection => @maps unless @maps.nil? %>
  </table>

  <%= link_to 'See all Maps', maps_path, :class => "buttonWarper" %>

</div>

<div id="layer_list">

  <h3>Recent Layers</h3>
  <table id="layer_table" cellpadding="3">
    <thead>
      <tr>
        <th>Layer</th>
        <th class="widthTh">Title</th>
        <th>Year</th>
        <th>Number of Maps</th>
        <th>Percentage Complete</th>
      </tr>
    </thead>
    <%= render :partial => 'layers/layer', :collection => @layers unless @layers.nil? %>
  </table>
<%= link_to "View all Layers", layers_path, :class => "buttonWarper" %><br />
<%= link_to "Create a new layer", new_layer_path, :class => "buttonWarper" %>
</div>

</div>
<div class="clear"></div>
</div>

